<div class="container" id="conteudo-home"> <!--Links-->
    <div class="row" id="conteudo-home-row">
        <div class="col-6 coluna-home">
            <div class="links-home"> <!--Link Banho e Tosa-->
                <a href="#/servicos" onclick="carregaTelaServico()" class="img-home row">
                    <div id="div-texto">
                        <h1>Agendamento Banho & Tosa</h1>
                    </div>
                    <img src="../_imagens/Icone BanhoTosaMarmota.png" width="200px" height="200px" alt="Imagem Banho e Tosa com Logo da Marmota">
                </a>
            </div>
        </div>
        <div class="col-6 coluna-home">
            <div class="links-home"> <!--Link Produtos PETs-->
                <a href="#/produtos" class="img-home row">
                    <div id="div-texto">
                        <h1>Produtos para seu PET</h1>
                    </div>
                    <img src="../_imagens/Icone RacaoMarmota.png" width="220px" height="220px" alt="Imagem de ração com Logo da Marmota">
                </a>
            </div>
        </div>
    </div>
</div>