<div class="container" id="conteudo-login">
    <div class="row" id="conteudo-login-row">
        <div class="col-6"> <!--Imagem e mensagem-->
            <div class="row" id="imagem-texto-login">
                <div class="col-12" id="imagem-login">
                    <img src="../_imagens/Icone EntrarMarmota.png" width=300 height=300 alt="Computador com Imagem Marmota">
                </div>
                <div class="col-12 texto-login">
                    <div class="texto-login">
                        Cuide melhor do seu bichinho com a Marmota PET SHOP!
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6"> <!--Card login-->
            <div class="row" id="card-login">
                <div class="col-12">
                    <div id="titulo-login">
                        <a href="#/cadastrar-usuario">Cadastrar</a> &nbsp; &nbsp; | &nbsp; &nbsp; <u>FAZER LOGIN</u>
                    </div>
                </div>
                    <form id="login" onsubmit="login()">
                    <div class="col-12 dados-login">
                        E-mail
                    </div>
                    <div class="col-12 dados-login">
                        <input type="email" class="form-control input-login" placeholder="seunome@email.com.br" id="email">
                    </div>
                    <div class="col-12 dados-login">
                        Senha
                    </div>
                    <div class="col-12 dados-login">
                        <input type="password" class="form-control input-login" placeholder="digite sua senha" id="senha">
                    </div>
                    <div class="col-12 botao-logar">
                        <button type="submit" class="btn btn-secondary btn-lg">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>