<div class="container" id="conteudo-produtos"> <!--Rações-->
    <div class="row" id="conteudo-produtos-row">
        <div class="col-12"> <!--Voltar-->
            <a href="#/">
                <img src="../_imagens/flecha.png" width=50 height=50 alt="Imagem flecha">
                Voltar
            </a>
        </div>
        <div class="col-12" id="titulo-pagina-produtos"> <!--Título página-->
            <img src="../_imagens/Icone RacaoMarmota.png" id="img-produtos-pet" width=100 height=100 alt="Imagem de ração com Logo da Marmota">
            Produtos para seu PET
        </div>
        <div class="col-6" id="produtos-esquerda"> <!--Ração Seca-->
            <div id="card-produtos">
                <div class="row">
                    <div class="col-12 titulo-produto"> <!--Título produto-->
                        <div class="produto">
                            Ração Seca
                        </div>
                    </div>
                    <div class="col-12 img-racao"> <!--Imagem produto-->
                        <img src="../_imagens/racao-seca.png" style="border: 1px black solid;" width=300 height=180 alt="Imagem Banho e Tosa com Logo da Marmota">
                    </div>
                    <div class="col-12"> <!--Sabor produto-->
                        <div class="sabor-produto dm-sans-sabor">
                            SABOR CARNE 1kg
                        </div>
                    </div>
                    <div class="col-12"> <!--Tipo produto-->
                        <div class="row">
                            <div class="col-4">
                                <div class="tipo-produto dm-sans-sabor">
                                    FILHOTE<br/>
                                    R$ 24,99
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="tipo-produto dm-sans-sabor">
                                    ADULTO<br/>
                                    R$ 21,89
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="tipo-produto dm-sans-sabor">
                                    SÊNIOR<br/>
                                    R$ 27,99
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" id="produtos-direita"> <!--Ração Úmida-->
            <div id="card-produtos">
                <div class="row">
                <div class="col-12 titulo-produto"> <!--Título produto-->
                    <div class="produto">
                        Ração Úmida
                    </div>
                </div>
                <div class="col-12 img-racao"> <!--Imagem produto-->
                    <img src="../_imagens/racao-umida.png" style="border: 1px black solid;" width=300 height=180 alt="Imagem de ração com Logo da Marmota">
                </div>
                <div class="col-12"> <!--Sabor produto-->
                    <div class="sabor-produto dm-sans-sabor">
                        SABOR CARNE 100g
                    </div>
                </div>
                <div class="col-12"> <!--Tipo produto-->
                    <div class="row">
                        <div class="col-4">
                            <div class="tipo-produto dm-sans-sabor">
                                FILHOTE<br/>
                                R$ 3,79
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="tipo-produto dm-sans-sabor">
                                ADULTO<br/>
                                R$ 3,39
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="tipo-produto dm-sans-sabor">
                                SÊNIOR<br/>
                                R$ 3,99
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>